{% extends "layout.html" %}
{% block content %}
<div class="w900 d-flex flex-column align-items-center justify-items-center p-5">
    <h3>Aplicación </h3>
    <p>El proyecto consta de una aplicación web(CRUD), que permite insertar juegos de mesa, actualizarlos, eliminarlos y mostrar todos los datos almacenados.
    </p>
    <p>Esta aplicación web está respaldada por una infraestructura basada en contenedores Docker.</br>El sistema consta de dos contenedores: uno personalizado que combina Apache HTTP Server, WSGI, Python y JavaScript para manejar la lógica de la aplicación web y las interacciones del usuario, y otro que utiliza MongoDB como base de datos para el almacenamiento y gestión de datos.</p>
    

{% endblock content %}