:root{
  --body-color: #192229;
  --footer-color: #151e25;
  --text-color: #A0A7AC;
  --title-color: #cecece;
  --container-color: #212E36;
  --border-color: #2c3e4b;
  --main-color: #1b6b9c;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
  }

main{
  min-height: 70vh;
}

header {
  background-color: var(--container-color);
  color: var(--title-color);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
input {
  color: var(--text-color) !important;
  background-color: var(--border-color) !important;
}

nav ul{
  list-style: none;
}
nav li:hover{
  color: var(--border-color);
  cursor: pointer;
}
h3 {
  text-align: center;
}

.w900{
  width: 900px;
}

#new-game-form, #update-form{
  margin: 15px 0;
  width: 50vw;
}

footer {
  background-color: var(--footer-color);
  color: var(--border-color); 
  height: 16vh;
}

footer a:hover {
    text-decoration: underline;
}